#secao_command{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#classe_dos_comandos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B0C4DE;
    width: 300px;
    height: 500px;
}
#comandos_file{
    width: 500px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #B0C4DE;
}
#TITLE_COMANDOS{
    display: inline-block;
    margin-bottom: 80px;
}
#content_elements_command{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 70px;
}
.secao_command_btn{
    width: 250px;
    height: 40px;
    font-size: 17px;
    margin: 7px 0px;
    background-color: #708090;
    border: none;
    box-shadow: 3px 3px #000;
    color: #F8F8FF;
    border-radius: 10%;
    font-family: 'Press Start 2P', cursive;
}
.secao_command_btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

h1{
    font-size: 70px;
}
p{
    font-size: 20px;
}
.lista_comandos{
    margin-top: 10px;
}
.lista_comandos_exibition{
    font-family: 'Press Start 2P', cursive;
    margin-top: 10px;
}