#secao_command{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    width: 80%;
    margin: auto;
}
#main_title{
    margin-top: 200px;
    font-size: 60px;
    text-shadow: #FF4081 2px 2px;
    font-family: 'Press Start 2P', cursive;
}
#comando_em_destaque{
    height: 180px;
    width: 1000px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 50px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}
#content_elements_command{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 40px;
}
#classe_dos_comandos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.secao_command_btn{
    width: 250px;
    height: 40px;
    font-size: 17px;
    background-color: #FFA500;
    border: none;
    box-shadow: 3px 3px #F8F8FF;
    color: #000;
    text-shadow:1px 1px #FF4081;
    border-radius: 3%;
    font-family: 'Press Start 2P', cursive;
}
#box_box_container{
    display: flex;
    align-items: center;
}
.box_dark_dashed{
    background-color: #000;
    border:#FF4081 dashed 2px;
    color: #FFA500;
    text-shadow: #FF4081 1px 1px;
    font-size: 25px;
}
#comandos_file{
    width: 340px;
    height: 410px;
    padding-left: 40px;
    overflow: hidden;
}
.lista_comandos_exibition{
    font-family: 'Press Start 2P', cursive;
    margin-top: 18px;
}
#arrow_container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
#up_arrow{
    width: 40px;
    transform: rotate(-90deg);
    margin-bottom: 100px;
    cursor: pointer;
}
#down_arrow{
    width: 40px;
    transform: rotate(90deg);
    cursor: pointer;
}
#help_exibition_uso_{
    color: #F0F8FF;
    text-shadow: #FF4081 1px 1px;
}
#help_exibition_descricao_{
    color: #F0F8FF;
    text-shadow: #FF4081 1px 1px;
}
.elemento_baixo{
    margin-top: 22px;
}
.secao_command_btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.lista_comandos_exibition:hover{
    cursor: pointer;
    transform: scale(1.02);
}
